*{

    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    font-size: 14px;
    background-color:rgb(133, 198, 255);

}

.nav{
    float: right;
    list-style: none;
    inline-size:500px;
}

/* .container{

} */